<div class="contestant">
    <div id=
"1"	 
class="podiumbubble" style="background-color: #B6EADA;">
        <span class="material-symbols-outlined winnerelement">
            social_leaderboard
        </span>

        <p class="name up bt">
EQUIP DE PROVA 1		
</p>
<p class="team dwn bt">
    -
</p>
        <div class="pointswrapper">
            <p class="bt total">
300			
</p>
<p class="team bt">
    1
</p>

            <span style="margin-top: 6.5px;" class="material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
    <div class="colapsable hidden" id=
"t1"
>

    <div class="row">
        <p class="intable">
            Dl
        </p>
        <p class="intable">
            Dm
        </p>
        <p class="intable">
            Dx
        </p>
        <p class="intable">
            Dj
        </p>
        <p class="intable">
            Dv
        </p>
        <p class="intable">
            Tot
        </p>
        <p class="intable">
            Bit
        </p>
    </div>

    <div class="row">
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
    </div>
        
    </div>
    </div>
    </div>