<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificació equips no federats</title>

    <script src="../static/js/eqfscript.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="adbkg"></div>

    <div class="adcontainer">
        <img style="display: block; filter: invert(1); width: 10vw; height: 10vw; margin-left: auto; margin-right: auto;" src="../static/logo23.jpg" alt="Logo de les bitlles a la fresca">

        <img class="ad" src="{{ad1}}" alt="Anunci">
        <img class="ad" src="{{ad2}}" alt="Anunci">
    </div>

    <h1>
        Classificació equips federats
    </h1>
    