<div class="contestant">
	<div id=
"2"	 
class="podiumbubble">
		<p style="margin: 0.5vw;">
			5
			.  ‍</p>

		<p class="name">
EQUIP DE PROVA 2		
</p>

		<div class="pointswrapper">
			<p>
200			
</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t2"
>
		
<div class="row">
    <p class="intable">
        Dl
    </p>
    <p class="intable">
        Dm
    </p>
    <p class="intable">
        Dx
    </p>
    <p class="intable">
        Dj
    </p>
    <p class="intable">
        Dv
    </p>
    <p class="intable">
        Bit
    </p>
</div>

<div class="row">
    <p class="intable">
        200
    </p>
    <p class="intable">
        200
    </p>
    <p class="intable">
        200
    </p>
    <p class="intable">
        200
    </p>
    <p class="intable">
        200
    </p>
    <p class="intable">
        200
    </p>
</div>

	</div>
	</div>
	</div>