<div class="contestant">
	<div id=
	"4"
	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
			Federic Fructuós Roca
		</p>
		<p class="team" style="font-size: xx-small;">
			La penya del bistec

		</p>

		<div class="pointswrapper">
			<p>
				183
			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
	"t4"
	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
				90
			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
			90
		</p>
	</div>
	</div>
	</div>