<div class="contestant">
    <div id=
"1"	 
class="podiumbubble">
<p style="margin: 0.5vw;">
    5
    .  ‍</p>

        <p class="name up" style="margin-left: 1.5vw;">
EQUIP DE PROVA 1		
</p>
<p class="team dwn">
    -
</p>
        <div class="pointswrapper">
            <p>
300			
</p>
<p class="team">
    1
</p>

            <span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
                expand_more
            </span>
        </div>
    </div>
    <div class="colapsable hidden" id=
"t1"
>

    <div class="row">
        <p class="intable">
            Dl
        </p>
        <p class="intable">
            Dm
        </p>
        <p class="intable">
            Dx
        </p>
        <p class="intable">
            Dj
        </p>
        <p class="intable">
            Dv
        </p>
        <p class="intable">
            Tot
        </p>
        <p class="intable">
            Bit
        </p>
    </div>

    <div class="row">
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
        <p class="intable">
            200
        </p>
    </div>
        
    </div>
    </div>
    </div>