@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: #0F0E0E;
    margin-top: 0px;
}

.adcontainer{
    transform: translateY(-2.59vh) translateX(-8px);
    display: flex;
    flex-direction: column;
    background-color: #0F0E0E;
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 120vh;
    margin: 0px 0px 0px 0px;
    align-items: center;

    animation-name: disappear;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
}

.adbkg{
    display: flex;
    flex-direction: column;
    background-color: #0F0E0E;
    position: fixed;
    z-index: 98;
    width: 100vw;
    height: 100vh;
    margin: 0px 0px 0px 0px;

    animation-name: disappear;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 6.7s;
}

.ad{
    margin: 0px 0px 0px 0px;
    width: 43vh; /* AIXÒ ÉS PER ELS PUTOS IPHONES ESTIC PLORANT */
    height: 43vh; /*I AIXÒ TAMBÉ ME CAGO EN LA PUTA */
}

img{
    padding-top: 5px;
}

p{
    font-family: Lato;
    font-size: 3vw;
    color: white;
}

h1{
    font-family: Lato;
    text-align: center;
    color: white;
    
}

h2{
    font-family: Lato;
    text-align: center;
    font-size: 6vw;
    color: white;
}

.wrapper{
    display: flex;

    flex-direction: row;

    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.winnercontainer{
    margin: 0px;
    padding: 0px;

    width: max-content;

    display: flex;

    flex-direction: row;

    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.winnerelement{
    margin: 0px;
    padding: 0px;
}

.bt{
    color: black;
}

.colapsable{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.intable{
    margin: 0px 5px 0px 5px;
    font-size: 5vw;
    width: 16vw;
}

.wt{
    color: white;
}

.bubble{
    margin: 2vw 2vw 2vw 2vw;

    width: 40vw;
    height: 40vw;


    display: flex;

    flex-direction: column;

    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;

    background-color: #5B8FB9;
    border-color: white !important;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
}

.podiumbubble{
    margin: 2vw 2vw 2vw 2vw;

    width: 90vw;
    height: 10vw;


    display: flex;

    flex-direction: row;

    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: left;

    border-color: white !important;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
}

.name{
    font-size: medium;
}

.hidden{
    display:none;
}

.team{
    margin-bottom: 3px;
}

.pointswrapper{
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 25px;
}

.toleft{
    display: flex;
    width: 90vw;
    align-content: left;
    justify-content: left;
    margin: 10px;
}

.spacer{
    width: 10vw;
}

footer {
	background-color: #5B8FB9;
    border-color: white !important;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
	margin: 0px;
	padding: 0px;
	width: 84vw;
	height: 15vw;
	font-size: 13px;
    height: fit-content;

    justify-self: center;

    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@keyframes disappear {
    0%{opacity: 100%;}
    99%{z-index: 99;}
    100%{opacity: 0%; z-index: -2;}
}