<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
		<legend>Cortina</legend>
	<form action="/curtain" method="post" enctype = "multipart/form-data">
		<div>
		<input type="radio" name="curtainon" id="curtainon">
		<label for="curtainon">ON</label>
		<input type="radio" name="curtain" checked id="curtain">
		<label for="curtain">OFF</label>
		</div>
		<input type="submit">
	</form>
	</fieldset>
</body>
</html>