<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificació equips no federats</title>

    <script src="../static/js/eqfscript.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <h1>
        Classificació equips federats
    </h1>
    <div class="contestant">
    <div id=
"1"class="podiumbubble" style="background-color: #B6EADA;">
        <span class="material-symbols-outlined winnerelement">
            social_leaderboard
        </span>

        <p class="name bt">
INICI EQF</p>

        <div class="pointswrapper">
            <p class="bt">
-</p>

            <span style="margin-top: 6.5px;" class="material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
    <div class="colapsable hidden" id=
"t1">

    <div class="row">
        <p class="intable">
            Dl
        </p>
        <p class="intable">
            Dm
        </p>
        <p class="intable">
            Dx
        </p>
        <p class="intable">
            Dj
        </p>
        <p class="intable">
            Dv
        </p>
        <p class="intable">
            Bit
        </p>
    </div>

    <div class="row">
        <p class="intable">
-        </p>
        <p class="intable">
-        </p>
        <p class="intable">
-        </p>
        <p class="intable">
-        </p>
        <p class="intable">
-        </p>
        <p class="intable">
-        </p>
    </div>
        
    </div>
    </div>
    </div><div class="contestant">
	<div id=
"2"class="podiumbubble">
		<p style="margin: 0.5vw;">
2			.  ‍</p>

		<p class="name">
-</p>

		<div class="pointswrapper">
			<p>
-</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t2">
		
<div class="row">
    <p class="intable">
        Dl
    </p>
    <p class="intable">
        Dm
    </p>
    <p class="intable">
        Dx
    </p>
    <p class="intable">
        Dj
    </p>
    <p class="intable">
        Dv
    </p>
    <p class="intable">
        Bit
    </p>
</div>

<div class="row">
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
</div>

	</div>
	</div>
	</div><div class="contestant">
	<div id=
"3"class="podiumbubble">
		<p style="margin: 0.5vw;">
3			.  ‍</p>

		<p class="name">
-</p>

		<div class="pointswrapper">
			<p>
-</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t3">
		
<div class="row">
    <p class="intable">
        Dl
    </p>
    <p class="intable">
        Dm
    </p>
    <p class="intable">
        Dx
    </p>
    <p class="intable">
        Dj
    </p>
    <p class="intable">
        Dv
    </p>
    <p class="intable">
        Bit
    </p>
</div>

<div class="row">
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
</div>

	</div>
	</div>
	</div><div class="contestant">
	<div id=
"4"class="podiumbubble">
		<p style="margin: 0.5vw;">
4			.  ‍</p>

		<p class="name">
-</p>

		<div class="pointswrapper">
			<p>
-</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t4">
		
<div class="row">
    <p class="intable">
        Dl
    </p>
    <p class="intable">
        Dm
    </p>
    <p class="intable">
        Dx
    </p>
    <p class="intable">
        Dj
    </p>
    <p class="intable">
        Dv
    </p>
    <p class="intable">
        Bit
    </p>
</div>

<div class="row">
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
</div>

	</div>
	</div>
	</div><div class="contestant">
	<div id=
"5"class="podiumbubble">
		<p style="margin: 0.5vw;">
5			.  ‍</p>

		<p class="name">
-</p>

		<div class="pointswrapper">
			<p>
-</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t5">
		
<div class="row">
    <p class="intable">
        Dl
    </p>
    <p class="intable">
        Dm
    </p>
    <p class="intable">
        Dx
    </p>
    <p class="intable">
        Dj
    </p>
    <p class="intable">
        Dv
    </p>
    <p class="intable">
        Bit
    </p>
</div>

<div class="row">
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
</div>

	</div>
	</div>
	</div><div class="contestant">
	<div id=
"6"class="podiumbubble">
		<p style="margin: 0.5vw;">
6			.  ‍</p>

		<p class="name">
-</p>

		<div class="pointswrapper">
			<p>
-</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t6">
		
<div class="row">
    <p class="intable">
        Dl
    </p>
    <p class="intable">
        Dm
    </p>
    <p class="intable">
        Dx
    </p>
    <p class="intable">
        Dj
    </p>
    <p class="intable">
        Dv
    </p>
    <p class="intable">
        Bit
    </p>
</div>

<div class="row">
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
</div>

	</div>
	</div>
	</div><div class="contestant">
	<div id=
"7"class="podiumbubble">
		<p style="margin: 0.5vw;">
7			.  ‍</p>

		<p class="name">
-</p>

		<div class="pointswrapper">
			<p>
-</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t7">
		
<div class="row">
    <p class="intable">
        Dl
    </p>
    <p class="intable">
        Dm
    </p>
    <p class="intable">
        Dx
    </p>
    <p class="intable">
        Dj
    </p>
    <p class="intable">
        Dv
    </p>
    <p class="intable">
        Bit
    </p>
</div>

<div class="row">
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
</div>

	</div>
	</div>
	</div><div class="contestant">
	<div id=
"8"class="podiumbubble">
		<p style="margin: 0.5vw;">
8			.  ‍</p>

		<p class="name">
-</p>

		<div class="pointswrapper">
			<p>
-</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t8">
		
<div class="row">
    <p class="intable">
        Dl
    </p>
    <p class="intable">
        Dm
    </p>
    <p class="intable">
        Dx
    </p>
    <p class="intable">
        Dj
    </p>
    <p class="intable">
        Dv
    </p>
    <p class="intable">
        Bit
    </p>
</div>

<div class="row">
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
    <p class="intable">
-    </p>
</div>

	</div>
	</div>
	</div></body>
</html>