<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="manifest" href="../static/manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/js/script.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>Classificacions bitlles a la fresca 23</title>
</head>

<body>
    <img style="display: block; filter: invert(1); width: 40vw; height: 40vw; margin-left: auto; margin-right: auto;" src="../static/logo23.jpg" alt="Logo de les bitlles a la fresca">

    <div class="wrapper">

        <a style="display: block;text-decoration: none;color: inherit;" href="/individualnofederats"><div class="bubble">
            <h2>Individual no federats</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>

                <p class="winnerelement">
INICI INDNF                </p>
            </div>
        </div></a>

        <a style="display: block;text-decoration: none;color: inherit;" href="/individualfederats"><div class="bubble">
            <h2>Individual federats</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>

                <p class="winnerelement">
-                </p>
            </div>
        </div></a>
    </div>

    <div class="wrapper">

        <a style="display: block;text-decoration: none;color: inherit;" href="/individual20102014"><div class="bubble">
            <h2>Individual<br>2011 - 2015</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>

                <p class="winnerelement">
INICI INDPET                </p>
            </div>
        </div></a>

        <a style="display: block;text-decoration: none;color: inherit;" href="/individual20062009"><div class="bubble">
            <h2>Individual<br>2007 - 2010</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>

                <p class="winnerelement">
INICI INDGR                </p>
            </div>
        </div></a>      
    </div>

    <div class="wrapper">

        <a style="display: block;text-decoration: none;color: inherit;" href="/equipsnofederats"><div class="bubble">
            <h2>Equips no<br>federats</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>

                <p class="winnerelement">
INICI EQNF                </p>
            </div>
        </div></a>

        <a style="display: block;text-decoration: none;color: inherit;" href="/equipsfederats"><div class="bubble">
            <h2>Equips<br>federats</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>
    
                <p class="winnerelement">
INICI EQF                </p>
            </div>
        </div></a>
    </div>

</body>
<div class="wrapper">
    <footer>
	    <p>La penya del bistec 2023 - Fet per <a style="color: black;" href="https://twitter.com/Alanmenac"><u>@alanmenac</u></a></p>
    </footer>
</div>
</html>