<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="script.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>Campionat de Catalunya individual infantil</title>
</head>

<body>
    <h1>Campionat de Catalunya individual infantil</h1>

    <div class="wrapper">

        <a style="display: block;text-decoration: none;color: inherit;" href="/individualnofederats"><div class="bubble">
            <h2>Benjamí femení</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>

                <p class="winnerelement">
JORDINA VIDAL TOMÀS                </p>
            </div>
        </div></a>

        <a style="display: block;text-decoration: none;color: inherit;" href="/individualfederats"><div class="bubble">
            <h2>Benjamí masculí</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>

                <p class="winnerelement">
ARNAU RAMBLA AUDI                </p>
            </div>
        </div></a>
    </div>

    <div class="wrapper">

        <a style="display: block;text-decoration: none;color: inherit;" href="/individual20102014"><div class="bubble">
            <h2>Aleví<br>femení</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>

                <p class="winnerelement">
NOA VILADRICH BUENO                </p>
            </div>
        </div></a>

        <a style="display: block;text-decoration: none;color: inherit;" href="/individual20062009"><div class="bubble">
            <h2>Aleví<br>masculí</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>

                <p class="winnerelement">
ERIC EGEA CONTRERAS                </p>
            </div>
        </div></a>      
    </div>

    <div class="wrapper">

        <a style="display: block;text-decoration: none;color: inherit;" href="/equipsnofederats"><div class="bubble">
            <h2>Infantil<br>femení</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>

                <p class="winnerelement">
NOA FABRA GARCIA                </p>
            </div>
        </div></a>

        <a style="display: block;text-decoration: none;color: inherit;" href="/equipsfederats"><div class="bubble">
            <h2>Infantil<br>masculí</h2>

            <div class="winnercontainer">
                <span class="material-symbols-outlined winnerelement">
                    social_leaderboard
                </span>
    
                <p class="winnerelement">
HÉCTOR PÉREZ VERGE                </p>
            </div>
        </div></a>
    </div>

</body>
<div class="wrapper">
    <footer>
	    <p>La penya del bistec 2023 - Fet per <a style="color: black;" href="https://twitter.com/Alanmenac"><u>@alanmenac</u></a></p>
    </footer>
</div>
</html>