<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benjamí aleví</title>

    <script src="../static/js/eqfscript.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <h1>
        Classificació aleví masculí
    </h1><div class="contestant">
    <div id=
"1"	 class="podiumbubble" style="background-color: #B6EADA;">
        <span class="material-symbols-outlined winnerelement">
            social_leaderboard
        </span>

        <p class="name bt">
ERIC EGEA CONTRERAS		</p>
        <p class="team bt">
ALLS SECS PIQUEN		</p>

        <div class="pointswrapper">
            <p class="bt">
10			</p>

            <span style="margin-top: 6.5px;" class="material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
    <div class="colapsable hidden" id=
"t1"	>
        <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
            </span>
            <p>
                Punts totals
            </p>

            <p>
10			</p>
    </div>

    <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
        </span>
        <p>
            Bitlles
        </p>

        <p>
1        </p>
    </div>
    </div>
    </div><div class="contestant">
    <div id=
"2"	 class="podiumbubble" style="background-color: #B6EADA;">
        <span class="material-symbols-outlined winnerelement">
            social_leaderboard
        </span>

        <p class="name bt">
ALBERT VENDRELL GARCIA		</p>
        <p class="team bt">
OLIUS		</p>

        <div class="pointswrapper">
            <p class="bt">
9			</p>

            <span style="margin-top: 6.5px;" class="material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
    <div class="colapsable hidden" id=
"t2"	>
        <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
            </span>
            <p>
                Punts totals
            </p>

            <p>
9			</p>
    </div>

    <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
        </span>
        <p>
            Bitlles
        </p>

        <p>
0        </p>
    </div>
    </div>
    </div><div class="contestant">
    <div id=
"3"	 class="podiumbubble" style="background-color: #B6EADA;">
        <span class="material-symbols-outlined winnerelement">
            social_leaderboard
        </span>

        <p class="name bt">
JOEL PÉREZ VERGE		</p>
        <p class="team bt">
LA SÉNIA		</p>

        <div class="pointswrapper">
            <p class="bt">
7			</p>

            <span style="margin-top: 6.5px;" class="material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
    <div class="colapsable hidden" id=
"t3"	>
        <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
            </span>
            <p>
                Punts totals
            </p>

            <p>
7			</p>
    </div>

    <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
        </span>
        <p>
            Bitlles
        </p>

        <p>
0        </p>
    </div>
    </div>
    </div><div class="contestant">
	<div id=
"4"	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
MARC VILARDELL PUIG		</p>
		<p class="team">
OLIUS
		</p>

		<div class="pointswrapper">
			<p>
6			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t4"	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
6			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
0		</p>
	</div>
	</div>
	</div><div class="contestant">
	<div id=
"5"	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
ÀLEX BAJO PÉREZ		</p>
		<p class="team">
OLIUS
		</p>

		<div class="pointswrapper">
			<p>
5			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t5"	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
5			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
0		</p>
	</div>
	</div>
	</div><div class="contestant">
	<div id=
"6"	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
ELOI BERMÚDEZ GALIMANY		</p>
		<p class="team">
VILAFRANCA
		</p>

		<div class="pointswrapper">
			<p>
4			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t6"	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
4			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
0		</p>
	</div>
	</div>
	</div><div class="contestant">
	<div id=
"7"	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
GUERAU FUSES GARCIA		</p>
		<p class="team">
LA SÉNIA
		</p>

		<div class="pointswrapper">
			<p>
2			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t7"	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
2			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
0		</p>
	</div>
	</div>
	</div><div class="contestant">
	<div id=
"8"	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
AITOR LLEIXÀ MARTÍN		</p>
		<p class="team">
LA GALERA
		</p>

		<div class="pointswrapper">
			<p>
1			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t8"	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
1			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
0		</p>
	</div>
	</div>
	</div></body>
</html>