</body>
</html><div class="contestant">
    <div id=
"1"	 class="podiumbubble" style="background-color: #B6EADA;">
        <span class="material-symbols-outlined winnerelement">
            social_leaderboard
        </span>

        <p class="name bt">
NOA VILADRICH BUENO		</p>
        <p class="team bt">
OLIUS		</p>

        <div class="pointswrapper">
            <p class="bt">
20			</p>

            <span style="margin-top: 6.5px;" class="material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
    <div class="colapsable hidden" id=
"t1"	>
        <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
            </span>
            <p>
                Punts totals
            </p>

            <p>
20			</p>
    </div>

    <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
        </span>
        <p>
            Bitlles
        </p>

        <p>
2        </p>
    </div>
    </div>
    </div><div class="contestant">
    <div id=
"2"	 class="podiumbubble" style="background-color: #B6EADA;">
        <span class="material-symbols-outlined winnerelement">
            social_leaderboard
        </span>

        <p class="name bt">
TÀNIA MARTÍNEZ BRULL		</p>
        <p class="team bt">
PERELLÓ		</p>

        <div class="pointswrapper">
            <p class="bt">
12			</p>

            <span style="margin-top: 6.5px;" class="material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
    <div class="colapsable hidden" id=
"t2"	>
        <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
            </span>
            <p>
                Punts totals
            </p>

            <p>
12			</p>
    </div>

    <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
        </span>
        <p>
            Bitlles
        </p>

        <p>
1        </p>
    </div>
    </div>
    </div><div class="contestant">
    <div id=
"3"	 class="podiumbubble" style="background-color: #B6EADA;">
        <span class="material-symbols-outlined winnerelement">
            social_leaderboard
        </span>

        <p class="name bt">
VANESA A. OSIAC		</p>
        <p class="team bt">
LA GALERA		</p>

        <div class="pointswrapper">
            <p class="bt">
8			</p>

            <span style="margin-top: 6.5px;" class="material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
    <div class="colapsable hidden" id=
"t3"	>
        <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
            </span>
            <p>
                Punts totals
            </p>

            <p>
8			</p>
    </div>

    <div class="toleft wrapper">
        <span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
            chevron_right
        </span>
        <p>
            Bitlles
        </p>

        <p>
0        </p>
    </div>
    </div>
    </div><div class="contestant">
	<div id=
"4"	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
MAR LLEIXÀ ALCANAR		</p>
		<p class="team">
LA GALERA
		</p>

		<div class="pointswrapper">
			<p>
8			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t4"	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
8			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
0		</p>
	</div>
	</div>
	</div><div class="contestant">
	<div id=
"5"	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
ABRIL BEL BEL		</p>
		<p class="team">
LA GALERA
		</p>

		<div class="pointswrapper">
			<p>
7			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t5"	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
7			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
0		</p>
	</div>
	</div>
	</div><div class="contestant">
	<div id=
"6"	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
CARLA LUCIA GASULLA		</p>
		<p class="team">
LA GALERA
		</p>

		<div class="pointswrapper">
			<p>
6			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t6"	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
6			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
0		</p>
	</div>
	</div>
	</div><div class="contestant">
	<div id=
"7"	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
CLÀUDIA MUNTADA VILASECA		</p>
		<p class="team">
OLIUS
		</p>

		<div class="pointswrapper">
			<p>
5			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t7"	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
5			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
0		</p>
	</div>
	</div>
	</div><div class="contestant">
	<div id=
"8"	 class="podiumbubble">
		<span class="material-symbols-outlined winnerelement wt">
			social_leaderboard
		</span>

		<p class="name">
AINHOA MANAU		</p>
		<p class="team">
OLIUS
		</p>

		<div class="pointswrapper">
			<p>
4			</p>

			<span style="margin-top: 6.5px;" class="material-symbols-outlined wt">
				expand_more
			</span>
		</div>
	</div>
	<div class="colapsable hidden" id=
"t8"	>
		<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
			</span>
			<p>
				Punts totals
			</p>

			<p>
4			</p>
	</div>

	<div class="toleft wrapper">
		<span style="margin-top: 3.5px;" class="material-symbols-outlined wt">
			chevron_right
		</span>
		<p>
			Bitlles
		</p>

		<p>
0		</p>
	</div>
	</div>
	</div></body>
</html>