<!DOCTYPE html>
<html lang="ca">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/eqfstyle.css">
	<link href='https://css.gg/arrow-left.css' rel='stylesheet'>

	<title>Bitlles a la fresca</title>
</head>

<header>
	<div class="headercolumn">
		<img id="headerlogo" src="../static/logo.png">
	</div>
	
	<div class="headercolumn">
		<h1>
			Patrocinadors
		</h1>
	</div>
</header>

<img src='../static/ads/ad2.png' class='adimagep'>
<img src='../static/ads/ad3.png' class='adimagep'>
<img src='../static/ads/ad4.png' class='adimagep'>
<img src='../static/ads/ad5.png' class='adimagep'>
<img src='../static/ads/ad6.png' class='adimagep'>
<img src='../static/ads/ad7.png' class='adimagep'>
<img src='../static/ads/ad8.png' class='adimagep'>
<img src='../static/ads/ad9.png' class='adimagep'>
<img src='../static/ads/ad10.png' class='adimagep'>
<img src='../static/ads/ad11.png' class='adimagep'>
<img src='../static/ads/ad12.png' class='adimagep'>
<img src='../static/ads/ad13.png' class='adimagep'>
<img src='../static/ads/ad14.png' class='adimagep'>
<img src='../static/ads/ad15.png' class='adimagep'>
<img src='../static/ads/ad16.png' class='adimagep'>
<img src='../static/ads/ad17.png' class='adimagep'>
<img src='../static/ads/ad18.png' class='adimagep'>
	
<footer style="width: 103%;">
<img  id="footerlogo" src="../static/logo.png">

<span id="spacer"></span>
	
	<a class="link-spanner" href="/index"><span class="link-spanner"></span></a>
	<svg
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
	id="tomenu"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M20.3284 11.0001V13.0001L7.50011 13.0001L10.7426 16.2426L9.32842 17.6568L3.67157 12L9.32842 6.34314L10.7426 7.75735L7.49988 11.0001L20.3284 11.0001Z"
    fill="currentColor"
  />
</svg>
</footer>
</html>